<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<footer class="page-footer font-small bg-dark text-white text-center" th:fragment="footer">
    <!-- Copyright -->
    <div class="p-3 mb-2">
        <span><a class="text-white">Assignment 01 - Group 15</a></span><br/>
        <span class="p-3 mb-2"><a  class="text-white">Distributed Systems Architecture and Middleware</a></span>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>

