<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link th:rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Your Orders</title>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<div id="boxes">
    <div id="leftbox">
        <h1> Your Orders </h1>
    </div>
</div>
<table>
    <div class="table">
        <thead>
        <tr>
            <th>Order Number</th>
            <th>Price</th>
            <th>Customer Name</th>
        </tr>
        </thead>
    </div>

    <tbody>
    <tr th:each="order : ${orders}">
        <td><a th:href="@{/orders/{orderID} (orderID= ${order.id})}" th:text="${order.id}"> </a></td>
        <td th:text="${#numbers.formatDecimal(order.price, 0, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${order.customer.username}"></td>
        </a>
    </tr>
    </tbody>
</table>
</body>
</html>